### Heroes Of Pymoli Data Analysis
* Female gamers are more likely to spend more money on games than males. 

* The purchasing power is essentially a bell curve. Purchasing power peaks at 20-24 and begins to tappers off after.

* People arent afraid to spend money on games. The more expensive items were bought more often than cheaper items 
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
repurchase_data = purchase_data.rename(columns={"Purchase ID": "Purchase_ID", "Item ID": "Item_ID", "Item Name": "Item_Name"})
repurchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
unique_players = purchase_data["SN"].value_counts()
unique_players.head()

Lisosia93      5
Idastidru52    4
Iral74         4
Silaera56      3
Siallylis44    3
Name: SN, dtype: int64

In [6]:
count = unique_players.count()
count

count_df = pd.DataFrame({"Total Players":[count]})
count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [81]:
#unique number of items
unitems = repurchase_data["Item_ID"].value_counts()


#Average price

In [8]:
#unique Item count
unitemscount = unitems.count()
unitemscount

183

In [9]:
avgprice = repurchase_data["Price"].mean()
avgprice

3.050987179487176

In [10]:
#total number of purchases 
Total = repurchase_data["Purchase_ID"].count()
Total

780

In [11]:
#Total Revenue
TotalRev = repurchase_data["Price"].sum()
TotalRev

2379.77

In [12]:
data_points = pd.DataFrame({"Number of Unique Items":[unitemscount], "Average Price":[avgprice], "Number of Purchases":[Total], "Total Revenue":[TotalRev]})
data_points

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
percentage = repurchase_data[["SN", "Gender"]]

In [14]:
Male_DF = percentage.loc[percentage["Gender"] == "Male", :]

Male_DF.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [15]:
percentage_Male = len(Male_DF["SN"].unique())
percentage_Male

484

In [16]:
Female_DF = percentage.loc[percentage["Gender"] == "Female", :]

Female_DF.head()

           SN  Gender
15  Lisassa64  Female
18  Reunasu60  Female
38   Reulae52  Female
41  Assosia88  Female
55  Phaelap26  Female

In [17]:
percentage_Female = len(Female_DF["SN"].unique())
percentage_Female

81

In [18]:
Other_DF = percentage.loc[percentage["Gender"] == "Other / Non-Disclosed", :]

Other_DF.head()

               SN                 Gender
9     Chanosian48  Other / Non-Disclosed
22   Siarithria38  Other / Non-Disclosed
82     Haerithp41  Other / Non-Disclosed
111      Sundim98  Other / Non-Disclosed
228   Jiskirran77  Other / Non-Disclosed

In [19]:
percentage_Other = len(Other_DF["SN"].unique())
percentage_Other

11

In [20]:
Male1= (percentage_Male / count) * 100
Male1

84.02777777777779

In [21]:
Female1 = (percentage_Female / count) * 100
Female1

14.0625

In [22]:
Other1 = (percentage_Other/ count) * 100
Other1

1.9097222222222223

In [23]:
percentage_total = pd.DataFrame({
    " ":["Male", "Female", "Other"], "Total Count":[percentage_Male, percentage_Female, percentage_Other], "Percentage of players":[Male1, Female1, Other1]})
percentage_total

           Total Count  Percentage of players
0    Male          484              84.027778
1  Female           81              14.062500
2   Other           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
purchases = repurchase_data[["Purchase_ID", "SN", "Gender", "Price"]]
purchases.head()

   Purchase_ID             SN Gender  Price
0            0        Lisim78   Male   3.53
1            1    Lisovynya38   Male   1.56
2            2     Ithergue48   Male   4.88
3            3  Chamassasya86   Male   3.27
4            4      Iskosia90   Male   1.44

In [25]:
purchase_count = purchases.loc[purchases["Gender"] == "Male", "Purchase_ID"].count()
purchase_count

652

In [26]:
purchase_countF = purchases.loc[purchases["Gender"] == "Female", "Purchase_ID"].count()
purchase_countF

113

In [27]:
purchase_countO = purchases.loc[purchases["Gender"] == "Other / Non-Disclosed", "Purchase_ID"].count()
purchase_countO

15

In [28]:
purchase_countMT = purchases.loc[purchases["Gender"] == "Male", "Price"].sum()
purchase_countMT

1967.64

In [29]:
purchase_countFT = purchases.loc[purchases["Gender"] == "Female", "Price"].sum()
purchase_countFT

361.94

In [30]:
purchase_countOT = purchases.loc[purchases["Gender"] == "Other / Non-Disclosed", "Price"].sum()
purchase_countOT

50.19

In [31]:
avg_purchaseM = purchase_countMT/purchase_count
avg_purchaseM

3.0178527607361967

In [32]:
avg_purchaseF = purchase_countFT/purchase_countF
avg_purchaseF

3.203008849557522

In [33]:
avg_purchaseO = purchase_countOT/purchase_countO
avg_purchaseO

3.3459999999999996

In [34]:
avg_totalM = purchase_countMT/percentage_Male
avg_totalM

4.065371900826446

In [35]:
avg_totalF = purchase_countFT/percentage_Female
avg_totalF

4.468395061728395

In [36]:
avg_totalO = purchase_countOT/percentage_Other
avg_totalO

4.5627272727272725

In [37]:
Average_total_DF = pd.DataFrame({" ":["Gender", "Female", "Male", "Other / Non-Disclosed"], "Purchase Count":[" ", purchase_countF, purchase_count, purchase_countO], "Average Purchase Price": [" ", avg_purchaseF, avg_purchaseM, avg_purchaseO], "Total Purchase Value":[" ", purchase_countFT, purchase_countMT, purchase_countOT], "Avg Total Purchase Per Person":[" ", avg_totalF, avg_totalM, avg_totalO]})
Average_total_DF

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,Gender,,,,
1,Female,113,3.20301,361.94,4.4684
2,Male,652,3.01785,1967.64,4.06537
3,Other / Non-Disclosed,15,3.346,50.19,4.56273

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [38]:
bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 110]
        
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [82]:
undata = repurchase_data.drop_duplicates(subset='SN', keep="last")

In [74]:
group_age = pd.cut(undata["Age"], bins, labels = group_names)

In [75]:
ages = pd.DataFrame({"Total Count": group_age.value_counts()})

In [42]:
ages1 = ages.sort_index(ascending=True)

In [43]:
ages1["Percentage of Players"] = (ages["Total Count"]/count) * 100
ages1

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 110]
        
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [45]:
group_ages = pd.cut(repurchase_data["Age"], bins, labels = group_names)

In [76]:
AvgAge = pd.cut(repurchase_data["Age"], bins, labels = group_names)

In [47]:
Agepur = repurchase_data.groupby('Age').Price.agg(['count', 'mean', 'sum'])
Agepur.head()

     count      mean    sum
Age
7        9  3.654444  32.89
8        8  3.246250  25.97
9        6  3.045000  18.27
10       9  3.536667  31.83
11       7  2.684286  18.79

In [77]:
Agecount = repurchase_data.groupby(AvgAge).Price.count()

In [78]:
AgeAvg1 = repurchase_data.groupby(AvgAge).Price.mean()

In [80]:
Agesum = repurchase_data.groupby(AvgAge).Price.sum()

In [51]:
ages2 = pd.DataFrame({"Total Count": group_ages.value_counts(),"Average Purchase Price": AgeAvg1, "Total Purchase Value": Agesum})
ages2

       Total Count  Average Purchase Price  Total Purchase Value
10-14           28                2.956429                 82.78
15-19          136                3.035956                412.89
20-24          365                3.052219               1114.06
25-29          101                2.900990                293.00
30-34           73                2.931507                214.00
35-39           41                3.601707                147.67
40+             13                2.941538                 38.24
<10             23                3.353478                 77.13

In [52]:
ages21 = ages2.sort_index(ascending=True)
ages21

       Total Count  Average Purchase Price  Total Purchase Value
10-14           28                2.956429                 82.78
15-19          136                3.035956                412.89
20-24          365                3.052219               1114.06
25-29          101                2.900990                293.00
30-34           73                2.931507                214.00
35-39           41                3.601707                147.67
40+             13                2.941538                 38.24
<10             23                3.353478                 77.13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:
new = repurchase_data.groupby("SN").Price.agg(['count','mean','sum'])
new.head(1)

              count  mean   sum
SN
Adairialis76      1  2.28  2.28

In [54]:
new1 = pd.DataFrame(new)
new1.head(1)

              count  mean   sum
SN
Adairialis76      1  2.28  2.28

In [64]:
new12 = new1.rename(columns = {"count":"Purchase Count", "mean":"Average Purchase Price", "sum": "Total Purchase Value"})
new12.head(1)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28

In [56]:
new123 = new12.sort_values(['Total Purchase Value'], ascending=[False])
new123.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [66]:
totepurc = repurchase_data.groupby(["Item_ID", "Item_Name"]).Price.agg(['count','min','sum'])
totepurc.head()

                            count   min    sum
Item_ID Item_Name
0       Splinter                4  1.28   5.12
1       Crucifer                3  3.26   9.78
2       Verdict                 6  2.48  14.88
3       Phantomlight            6  2.49  14.94
4       Bloodlord's Fetish      5  1.70   8.50

In [67]:
totpurc1 = totepurc.rename(columns = {"count":"Purchase Count", "min":"Item Price", "sum":"Total purchase Value"})
totpurc1.head()

                            Purchase Count  Item Price  Total purchase Value
Item_ID Item_Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

In [71]:
totpurc12 = totpurc1.sort_values(['Purchase Count'], ascending=[False])
totpurc12.head()

,,Purchase Count,Item Price,Total purchase Value
Item_ID,Item_Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [84]:
totpurc123 = totpurc1.sort_values(['Total purchase Value'], ascending=[False])
totpurc123

,,Purchase Count,Item Price,Total purchase Value
Item_ID,Item_Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
160,Azurewrath,6,4.40,26.40
25,Hero Cane,6,4.35,26.10
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
139,"Mercy, Katana of Dismay",5,4.94,24.70
128,"Blazeguard, Reach of Eternity",5,4.91,24.55
138,"Peacekeeper, Wit of Dark Magic",5,4.74,23.70
141,Persuasion,7,3.19,22.33
87,"Deluge, Edge of the West",5,4.43,22.15
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
136,Ghastly Adamantite Protector,6,3.58,21.48
65,Conqueror Adamantite Mace,5,4.24,21.20
101,Final Critic,5,4.19,20.95
102,Avenger,6,3.44,20.64
133,Faith's Scimitar,5,4.09,20.45
39,"Betrayal, Whisper of Grieving Widows",5,3.94,19.70
111,Misery's End,4,4.89,19.56
165,Bone Crushing Silver Skewer,4,4.86,19.44
75,Brutality Ivory Warmace,8,2.42,19.36
52,Hatred,4,4.84,19.36
...,...,...,...,...
124,Venom Claymore,4,1.29,5.16
0,Splinter,4,1.28,5.12
155,War-Forged Gold Deflector,5,1.01,5.05
48,"Rage, Legacy of the Lone Victor",2,2.48,4.96
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
51,Endbringer,1,4.66,4.66
134,Undead Crusader,1,4.50,4.50
30,Stormcaller,2,2.21,4.42
135,Warped Diamond Crusader,3,1.40,4.20
91,Celeste,1,4.17,4.17
177,"Winterthorn, Defender of Shifting Worlds",2,2.08,4.16
70,Hope's End,4,1.03,4.12
115,Spectral Diamond Doomblade,2,2.04,4.08
69,"Frenzy, Defender of the Harvest",2,1.98,3.96
47,"Alpha, Reach of Ending Hope",1,3.58,3.58
180,Stormcaller,1,3.36,3.36
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
183,Dragon's Greatsword,3,1.09,3.27
31,Trickster,2,1.55,3.10
168,"Sun Strike, Jaws of Twisted Visions",2,1.48,2.96
90,Betrayer,1,2.94,2.94
33,Curved Axe,2,1.16,2.32
26,Unholy Wand,2,1.12,2.24
118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
125,Whistling Mithril Warblade,2,1.00,2.00
126,Exiled Mithril Longsword,1,2.00,2.00
23,Crucifer,1,1.99,1.99
104,Gladiator's Glaive,1,1.93,1.93
42,The Decapitator,1,1.75,1.75