### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [6]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
repurchase_data = purchase_data.rename(columns={"Purchase ID": "Purchase_ID", "Item ID": "Item_ID", "Item Name": "Item_Name"})
repurchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
unique_players = purchase_data["SN"].value_counts()
unique_players.head()

Lisosia93      5
Iral74         4
Idastidru52    4
Tyidaim51      3
Lisopela58     3
Name: SN, dtype: int64

In [9]:
count = unique_players.count()
count

count_df = pd.DataFrame({"Total Players":[count]})
count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#unique number of items
unitems = repurchase_data["Item_ID"].value_counts()
unitems


#Average price

178    12
82      9
108     9
145     9
92      8
19      8
75      8
103     8
72      8
60      8
59      8
34      8
37      8
159     7
7       7
85      7
141     7
78      7
164     7
53      7
117     7
71      7
110     7
136     6
40      6
54      6
120     6
12      6
144     6
3       6
       ..
176     2
177     2
18      2
158     2
69      2
43      2
31      2
132     2
63      2
26      2
28      2
56      2
30      2
127     2
33      2
115     2
125     2
48      2
126     1
23      1
180     1
47      1
90      1
134     1
91      1
42      1
118     1
104     1
27      1
51      1
Name: Item_ID, Length: 183, dtype: int64

In [11]:
#unique Item count
unitemscount = unitems.count()
unitemscount

183

In [12]:
avgprice = repurchase_data["Price"].mean()
avgprice

3.050987179487176

In [13]:
#total number of purchases 
Total = repurchase_data["Purchase_ID"].count()
Total

780

In [14]:
#Total Revenue
TotalRev = repurchase_data["Price"].sum()
TotalRev

2379.77

In [15]:
data_points = pd.DataFrame({"Number of Unique Items":[unitemscount], "Average Price":[avgprice], "Number of Purchases":[Total], "Total Revenue":[TotalRev]})
data_points

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
percentage = repurchase_data[["SN", "Gender"]]

In [17]:
Male_DF = percentage.loc[percentage["Gender"] == "Male", :]

Male_DF.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [18]:
percentage_Male = len(Male_DF["SN"].unique())
percentage_Male

484

In [19]:
Female_DF = percentage.loc[percentage["Gender"] == "Female", :]

Female_DF.head()

           SN  Gender
15  Lisassa64  Female
18  Reunasu60  Female
38   Reulae52  Female
41  Assosia88  Female
55  Phaelap26  Female

In [20]:
percentage_Female = len(Female_DF["SN"].unique())
percentage_Female

81

In [21]:
Other_DF = percentage.loc[percentage["Gender"] == "Other / Non-Disclosed", :]

Other_DF.head()

               SN                 Gender
9     Chanosian48  Other / Non-Disclosed
22   Siarithria38  Other / Non-Disclosed
82     Haerithp41  Other / Non-Disclosed
111      Sundim98  Other / Non-Disclosed
228   Jiskirran77  Other / Non-Disclosed

In [22]:
percentage_Other = len(Other_DF["SN"].unique())
percentage_Other

11

In [23]:
Male1= (percentage_Male / count) * 100
Male1

84.02777777777779

In [24]:
Female1 = (percentage_Female / count) * 100
Female1

14.0625

In [25]:
Other1 = (percentage_Other/ count) * 100
Other1

1.9097222222222223

In [26]:
percentage_total = pd.DataFrame({
    " ":["Male", "Female", "Other"], "Total Count":[percentage_Male, percentage_Female, percentage_Other], "Percentage of players":[Male1, Female1, Other1]})
percentage_total

           Total Count  Percentage of players
0    Male          484              84.027778
1  Female           81              14.062500
2   Other           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
purchases = repurchase_data[["Purchase_ID", "SN", "Gender", "Price"]]
purchases.head()

   Purchase_ID             SN Gender  Price
0            0        Lisim78   Male   3.53
1            1    Lisovynya38   Male   1.56
2            2     Ithergue48   Male   4.88
3            3  Chamassasya86   Male   3.27
4            4      Iskosia90   Male   1.44

In [28]:
purchase_count = purchases.loc[purchases["Gender"] == "Male", "Purchase_ID"].count()
purchase_count

652

In [29]:
purchase_countF = purchases.loc[purchases["Gender"] == "Female", "Purchase_ID"].count()
purchase_countF

113

In [30]:
purchase_countO = purchases.loc[purchases["Gender"] == "Other / Non-Disclosed", "Purchase_ID"].count()
purchase_countO

15

In [31]:
purchase_countMT = purchases.loc[purchases["Gender"] == "Male", "Price"].sum()
purchase_countMT

1967.64

In [32]:
purchase_countFT = purchases.loc[purchases["Gender"] == "Female", "Price"].sum()
purchase_countFT

361.94

In [33]:
purchase_countOT = purchases.loc[purchases["Gender"] == "Other / Non-Disclosed", "Price"].sum()
purchase_countOT

50.19

In [34]:
avg_purchaseM = purchase_countMT/purchase_count
avg_purchaseM

3.0178527607361967

In [35]:
avg_purchaseF = purchase_countFT/purchase_countF
avg_purchaseF

3.203008849557522

In [36]:
avg_purchaseO = purchase_countOT/purchase_countO
avg_purchaseO

3.3459999999999996

In [37]:
avg_totalM = purchase_countMT/percentage_Male
avg_totalM

4.065371900826446

In [38]:
avg_totalF = purchase_countFT/percentage_Female
avg_totalF

4.468395061728395

In [39]:
avg_totalO = purchase_countOT/percentage_Other
avg_totalO

4.5627272727272725

In [40]:
Average_total_DF = pd.DataFrame({" ":["Gender", "Female", "Male", "Other / Non-Disclosed"], "Purchase Count":[" ", purchase_countF, purchase_count, purchase_countO], "Average Purchase Price": [" ", avg_purchaseF, avg_purchaseM, avg_purchaseO], "Total Purchase Value":[" ", purchase_countFT, purchase_countMT, purchase_countOT], "Avg Total Purchase Per Person":[" ", avg_totalF, avg_totalM, avg_totalO]})
Average_total_DF

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,Gender,,,,
1,Female,113,3.20301,361.94,4.4684
2,Male,652,3.01785,1967.64,4.06537
3,Other / Non-Disclosed,15,3.346,50.19,4.56273

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [41]:
bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 110]
        
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [44]:
undata = repurchase_data.drop_duplicates(subset='SN', keep="last")
undata

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
8,8,Undjask33,22,Male,21,Souleater,1.10
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
34,34,Sondim73,19,Male,160,Azurewrath,4.40
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66
46,46,Yasrisu92,27,Male,102,Avenger,3.44
47,47,Chanuchi25,20,Male,170,Shadowsteel,3.97
48,48,Asur96,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74
50,50,Saelaephos52,21,Male,22,Amnesia,2.18
...,...,...,...,...,...,...,...
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
749,749,Chanossanya44,20,Male,53,Vengeance Cleaver,2.05
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [45]:
group_age = pd.cut(undata["Age"], bins, labels = group_names)
group_age

1        40+
2      20-24
3      20-24
4      20-24
6      35-39
8      20-24
13     20-24
15     20-24
16     20-24
19     30-34
20     20-24
21     20-24
25     25-29
27       <10
28     20-24
31     35-39
32     10-14
34     15-19
35     20-24
36     30-34
37       <10
38     10-14
39     20-24
40     20-24
41     20-24
45     20-24
46     25-29
47     20-24
48     20-24
50     20-24
       ...
748    20-24
749    20-24
750    20-24
751    10-14
752    15-19
753    35-39
754    20-24
755    10-14
756    20-24
757    15-19
759    25-29
760    20-24
761      40+
763    20-24
764    15-19
765    15-19
766    20-24
767      <10
768    35-39
769    15-19
770    30-34
771    15-19
772    25-29
773    20-24
774    10-14
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 576, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [46]:
ages = pd.DataFrame({"Total Count": group_age.value_counts()})
ages

       Total Count
20-24          258
15-19          107
25-29           77
30-34           52
35-39           31
10-14           22
<10             17
40+             12

In [47]:
ages1 = ages.sort_index(ascending=True)

In [48]:
ages1["Percentage of Players"] = (ages["Total Count"]/count) * 100
ages1

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 110]
        
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [50]:
group_ages = pd.cut(repurchase_data["Age"], bins, labels = group_names)

In [88]:
AvgAge = pd.cut(repurchase_data["Age"], bins, labels = group_names)
AvgAge

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
5      20-24
6      35-39
7      20-24
8      20-24
9      35-39
10     20-24
11     20-24
12     20-24
13     20-24
14     35-39
15     20-24
16     20-24
17     20-24
18     20-24
19     30-34
20     20-24
21     20-24
22     35-39
23       40+
24     30-34
25     25-29
26     10-14
27       <10
28     20-24
29     20-24
       ...
750    20-24
751    10-14
752    15-19
753    35-39
754    20-24
755    10-14
756    20-24
757    15-19
758    20-24
759    25-29
760    20-24
761      40+
762    25-29
763    20-24
764    15-19
765    15-19
766    20-24
767      <10
768    35-39
769    15-19
770    30-34
771    15-19
772    25-29
773    20-24
774    10-14
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [86]:
Agepur = repurchase_data.groupby('Age').Price.agg(['count', 'mean', 'sum'])
Agepur.head()

AttributeError: 'Series' object has no attribute 'Price'

In [89]:
Agecount = repurchase_data.groupby(AvgAge).Price.count()
Agecount.head()

Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
Name: Price, dtype: int64

In [91]:
AgeAvg1 = repurchase_data.groupby(AvgAge).Price.mean()
AgeAvg.head()

Age
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
Name: Price, dtype: float64

In [95]:
Agesum = repurchase_data.groupby(AvgAge).Price.sum()
Agesum.head()

Age
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
Name: Price, dtype: float64

In [98]:
ages2 = pd.DataFrame({"Total Count": group_ages.value_counts(),"Average Purchase Price": AgeAvg, "Total Purchase Value": Agesum})
ages

       Total Count  Average Purchase Price  Total Purchase Value
10-14           28                2.956429                 82.78
15-19          136                3.035956                412.89
20-24          365                3.052219               1114.06
25-29          101                2.900990                293.00
30-34           73                2.931507                214.00
35-39           41                3.601707                147.67
40+             13                2.941538                 38.24
<10             23                3.353478                 77.13

In [99]:
ages21 = ages2.sort_index(ascending=True)
ages21

       Total Count  Average Purchase Price  Total Purchase Value
10-14           28                2.956429                 82.78
15-19          136                3.035956                412.89
20-24          365                3.052219               1114.06
25-29          101                2.900990                293.00
30-34           73                2.931507                214.00
35-39           41                3.601707                147.67
40+             13                2.941538                 38.24
<10             23                3.353478                 77.13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80